{% extends 'main.html' %}
{% load static %}
{% block content %}

      <!-- Services Start -->
      <div class="container-fluid services py-5">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 800px;">
                <p class="fs-4 text-uppercase text-center text-primary">Our Service</p>
                <h1 class="display-3">Visionx Services</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="services-content text-end">
                                    <h3>Diagnosis</h3>
                                    <p>Discover precise diagnostics for effective lung cancer management. At Visionx, cutting-edge technologies ensure thorough evaluations, guiding personalized treatment plans and empowering your journey to recovery.</p>
                                    <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Make Order</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-1.jpg' %}" class="img-fluid rounded" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-2.jpg' %}" class="img-fluid rounded" alt="">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="services-content text-start">
                                    <h3>Prognosis</h3>
                                    <p>Unlock accurate lung cancer prognoses at Visionx. With advanced tools, we provide comprehensive insights, enabling tailored strategies for a brighter and healthier future. 
                                        </p>
                                    <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Deatails</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="services-content text-end">
                                    <h3>Biopsy</h3>
                                    <p>Experience advanced colon cancer biopsies at Visionx. Our innovative techniques deliver detailed analyses, guiding personalized care plans for optimal well-being.</p>
                                    <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Deatails</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-3.jpg' %}" class="img-fluid rounded" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-4.jpg' %}" class="img-fluid rounded" alt="">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="services-content text-start">
                                    <h3>Treatment Planning</h3>
                                    <p>Crafting personalized lung cancer treatment plans at Visionx. Our dedicated team ensures thorough evaluations, tailoring strategies for effective outcomes and a healthier tomorrow.</p>
                                    <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Deatails</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="services-content text-end">
                                    <h3>Surgery</h3>
                                    <p>Explore advanced colon cancer surgeries at Visionx. Our skilled team utilizes cutting-edge techniques, ensuring precise interventions for optimal recovery and improved well-being.</p>
                                    <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Deatails</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-5.jpg' %}" class="img-fluid rounded" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-6.jpg' %}" class="img-fluid rounded" alt="">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="services-content text-start">
                                    <h3>Radiotherapy</h3>
                                    <p>Benefit from innovative lung cancer radiotherapy at Visionx. Our advanced approaches deliver targeted treatments, maximizing effectiveness and promoting a healthier lifestyle.</p>
                                    <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Deatails</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="services-content text-end">
                                    <h3>Chemotherapy</h3>
                                    <p>Discover tailored colon cancer chemotherapy at Visionx. Our specialized regimens aim for optimal results, ensuring personalized care and empowering your journey towards better health.</p>
                                    <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Deatails</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-3.jpg' %}" class="img-fluid rounded" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-1.jpg' %}" class="img-fluid rounded" alt="">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="services-content text-start">
                                    <h3>Palliative Care</h3>
                                    <p>Experience compassionate lung cancer palliative care at Visionx. Our supportive services enhance quality of life, providing comfort and empowering patients throughout their health journey.</p>
                                    <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Deatails</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Services End -->

{% endblock content %}